<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <p>What message would you like to send?</p>
    <form action="success.html" method="POST">
        <input
            type="text"
            name="content"
            placeholder="content"
            class="input"
            id="content"
        />
        <button type="submit" class="btn" id="btn">Submit</button>
    </form>
    </form>
</body>
</html>